<mat-card class="main-form-container">
  <form [formGroup]="statusForm" (ngSubmit)="onSubmit()">
    <div class="mf-col-1">
      <mat-form-field class="mf-item-1" appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput placeholder="first name" formControlName="firstName" />
      </mat-form-field>
      <mat-form-field class="mf-item-2" appearance="outline">
        <mat-label>Last name</mat-label>
        <input matInput placeholder="last name" formControlName="lastName" />
      </mat-form-field>
    </div>

    <div class="mf-col-1">
      <mat-form-field class="mf-item-1" appearance="outline">
        <mat-label>Start date</mat-label>
        <input
          matInput
          [matDatepicker]="startDate"
          placeholder="Choose a date"
          formControlName="startDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="mf-item-2" appearance="outline">
        <mat-label>End date</mat-label>
        <input
          matInput
          [matDatepicker]="endDate"
          placeholder="Choose a date"
          formControlName="endDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="mf-col-1">
      <mat-form-field class="mf-item-1" appearance="outline">
        <mat-label>Client</mat-label>
        <input matInput placeholder="Client" formControlName="client" />
      </mat-form-field>
      <mat-form-field class="mf-item-2" appearance="outline">
        <mat-label>Project</mat-label>
        <input matInput placeholder="project" formControlName="project" />
      </mat-form-field>
    </div>

    <div class="mf-col-completed" formArrayName="completed">
      <div class="completed-col-1">
        <h1>Tasks completed this week</h1>
        <button
          mat-icon-button
          type="button"
          color="primary"
          (click)="addToList('completedList')"
        >
          <em class="material-icons">
            add_circle
          </em>
        </button>
      </div>
      <div class="completed-col-2">
        <div
          class="completed-col-2-each"
          *ngFor="let item of completedList.controls; let i = index"
        >
          <mat-form-field class="completed-col-2-ff" appearance="outline">
            <textarea
              matInput
              placeholder="tasks completed this week"
              formControlName="{{ i }}"
            ></textarea>
          </mat-form-field>
          <button
            mat-icon-button
            type="button"
            color="accent"
            (click)="removeFromList('completedList', i)"
          >
            <em class="material-icons">
              delete
            </em>
          </button>
        </div>
      </div>
    </div>

    <div class="mf-col-completed" formArrayName="inProgress">
      <div class="completed-col-1">
        <h1>Tasks in progress this week</h1>
        <button
          mat-icon-button
          type="button"
          color="primary"
          (click)="addToList('inProgressList')"
        >
          <em class="material-icons">
            add_circle
          </em>
        </button>
      </div>
      <div class="completed-col-2">
        <div
          class="completed-col-2-each"
          *ngFor="let item of inProgressList.controls; let i = index"
        >
          <mat-form-field class="completed-col-2-ff" appearance="outline">
            <textarea
              matInput
              placeholder="tasks in progress this week"
              formControlName="{{ i }}"
            ></textarea>
          </mat-form-field>
          <button
            mat-icon-button
            type="button"
            color="accent"
            (click)="removeFromList('inProgressList', i)"
          >
            <em class="material-icons">
              delete
            </em>
          </button>
        </div>
      </div>
    </div>
    <div class="mf-col-completed" formArrayName="starting">
      <div class="completed-col-1">
        <h1>Tasks starting next week</h1>
        <button
          mat-icon-button
          type="button"
          color="primary"
          (click)="addToList('startingList')"
        >
          <em class="material-icons">
            add_circle
          </em>
        </button>
      </div>
      <div class="completed-col-2">
        <div
          class="completed-col-2-each"
          *ngFor="let item of startingList.controls; let i = index"
        >
          <mat-form-field class="completed-col-2-ff" appearance="outline">
            <textarea
              matInput
              placeholder="Tasks starting next week"
              formControlName="{{ i }}"
            ></textarea>
          </mat-form-field>
          <button
            mat-icon-button
            type="button"
            color="accent"
            (click)="removeFromList('startingList', i)"
          >
            <em class="material-icons">
              delete
            </em>
          </button>
        </div>
      </div>
    </div>
    <div class="mf-col-completed" formArrayName="issues">
      <div class="completed-col-1">
        <h1>Issues for immediate attention</h1>
        <button
          mat-icon-button
          type="button"
          color="primary"
          (click)="addToList('issuesList')"
        >
          <em class="material-icons">
            add_circle
          </em>
        </button>
      </div>
      <div class="completed-col-2">
        <div
          class="completed-col-2-each"
          *ngFor="let item of issuesList.controls; let i = index"
        >
          <mat-form-field class="completed-col-2-ff" appearance="outline">
            <textarea
              matInput
              placeholder="Issues for immediate attention"
              formControlName="{{ i }}"
            ></textarea>
          </mat-form-field>
          <button
            mat-icon-button
            type="button"
            color="accent"
            (click)="removeFromList('issuesList', i)"
          >
            <em class="material-icons">
              delete
            </em>
          </button>
        </div>
      </div>
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!statusForm.valid"
    >
      Submit
    </button>
  </form>
</mat-card>
