<div [formGroup]="fGroup">
  <div class="mf-col-completed" formArrayName="fArray">
    <div class="completed-col-1">
      <h1>{{ sectionTitle }}</h1>
      <button mat-icon-button color="primary" (click)="addToList()">
        <em class="material-icons">
          add_circle
        </em>
      </button>
    </div>
    <div class="completed-col-2">
      <div
        class="completed-col-2-each"
        *ngFor="let item of fgroup.controls[fArray].controls; let i = index"
      >
        <mat-form-field class="completed-col-2-ff" appearance="outline">
          <textarea
            matInput
            placeholdxser="tasks completed this week"
            formControlName="{{ i }}"
          ></textarea>
        </mat-form-field>
        <button mat-icon-button color="accent" (click)="removeFromList(i)">
          <em class="material-icons">
            delete
          </em>
        </button>
      </div>
    </div>
  </div>
</div>
